{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "angular": true,
    },
    "rules": {
        "camelcase": 2,
        "curly": 0,
        "no-console":1,
        "no-var":0,
        "no-constant-condition":0,
        "comma-dangle": ["error", "never"],
        "brace-style": [2, "1tbs"],
        "quotes": [2, "double"],
        "semi": [2, "always"],
        "no-extra-parens": ["error", "functions"],
        "computed-property-spacing": [2, "always"],
        "array-bracket-spacing": [2, "always"],
        "valid-jsdoc": 0,
        "indent": [2, 4, {
            "VariableDeclarator": 2,
            "SwitchCase": 1
        }]                     
    }
}