<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>同步数据</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <h2>同步豆瓣数据</h2> 
      <form class="form-horizontal" id="movie">
        <div class="form-group">
          <label for="db_id" class="col-sm-2 control-label">豆瓣id：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="db_id" placeholder="豆瓣id">
          </div>
        </div>
        <div class="form-group">
          <label for="movie-name" class="col-sm-2 control-label">电影名称：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="movie-name" placeholder="电影名称">
          </div>
        </div>
        <div class="form-group">
          <label for="ranks" class="col-sm-2 control-label">豆瓣评分：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="ranks" placeholder="豆瓣评分">
          </div>
        </div>
        <div class="form-group">
          <label for="doctor" class="col-sm-2 control-label">导演：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="doctor" placeholder="导演">
          </div>
        </div>
        <div class="form-group">
          <label for="actor" class="col-sm-2 control-label">主演：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="actor" placeholder="主演">
          </div>
        </div>
        <div class="form-group">
          <label for="rename" class="col-sm-2 control-label">又名：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="rename" placeholder="又名">
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-2 control-label">类型：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="type" placeholder="类型">
          </div>
        </div>
        <div class="form-group">
          <label for="country" class="col-sm-2 control-label">国家：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="country" placeholder="国家">
          </div>
        </div>
        <div class="form-group">
          <label for="language" class="col-sm-2 control-label">语言：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="language" placeholder="语言">
          </div>
        </div>
        <div class="form-group">
          <label for="actdate" class="col-sm-2 control-label">上映时间：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="actdate" placeholder="上映时间">
          </div>
        </div>
        <div class="form-group">
          <label for="acttime" class="col-sm-2 control-label">大海报：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="large" placeholder="大海报">
          </div>
        </div>
        <div class="form-group">
          <label for="acttime" class="col-sm-2 control-label">中海报：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="medium" placeholder="中海报">
          </div>
        </div>
        <div class="form-group">
          <label for="acttime" class="col-sm-2 control-label">小海报：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="small" placeholder="小海报">
          </div>
        </div>
        <div class="form-group">
          <label for="acttime" class="col-sm-2 control-label">片长：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="acttime" placeholder="片长">
          </div>
        </div>
        <div class="form-group">
          <label for="story" class="col-sm-2 control-label">故事简介：</label>
          <div class="col-sm-10">
            <textarea rows="6" cols="80" id="story"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="story" class="col-sm-2 control-label">预告片：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="videoUrl" placeholder="预告片">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" id="submit" class="btn btn-primary">添加电影</button>
          </div>
        </div>
      </form>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        var data = {};
        $("#submit").click(function(){
            console.log("json", data)
            var directors = data.directors.map((item) => {
              let ele = {}
              ele.name = item.name
              return ele
            })
            console.log(directors)
            $.ajax({
              type: "post",
              url: "http://localhost:8686/Api/movie/addMovie",
              data: {
                title:data.title,
                rating:{
                  average:data.rating.average,
                  star:data.rating.stars
                },
                directors:JSON.stringify(data.directors.map((item) => {
                  let ele = {}
                  ele.name = item.name
                  return ele
                })),
                casts:JSON.stringify(data.casts.map((item) => {
                  let ele = {}
                  ele.name = item.name
                  return ele
                })),
                country:JSON.stringify(data.countries.map((item) => {
                  let ele = {}
                  ele.name = item
                  return ele
                })),
                genres:JSON.stringify(data.genres.map((item) => {
                  let ele = {}
                  ele.name = item
                  return ele
                })),
                aka:JSON.stringify(data.aka.map((item) => {
                  let ele = {}
                  ele.name = item
                  return ele
                })),
                language:JSON.stringify($("#language").val().split(",").map((item) => {
                  let ele = {}
                  ele.name = item
                  return ele
                })),
                actime:$("#acttime").val(),
                images:JSON.stringify(data.images),
                subject:data.summary,
                videoUrl:$("#videoUrl").val(),
                releaseTime:data.year
              },
              dataType: "json",
              success:function(json){
                  
              }
            })
        })
        $("#db_id").blur(function(){
          var id = $("#db_id").val()
          $.ajax({
              type: "get",
              cache:true,
              url: "https://api.douban.com/v2/movie/subject/"+id,
              dataType: "jsonp",
              crossDomain:true,
              jsonp: "callback",
              success:function(json){
                  data = json
                  $("#movie-name").val(json.title)
                  $("#ranks").val(json.rating.average)
                  $("#doctor").val(pathtoString(json.directors))
                  $("#actor").val(pathtoString(json.casts))
                  $("#story").val(json.summary)
                  $("#actdate").val(json.year)
                  $("#country").val(json.countries.join(","))
                  $("#type").val(json.genres.join(","))
                  $("#rename").val(json.aka.join(","))
                  $("#large").val(json.images.large)
                  $("#medium").val(json.images.medium)
                  $("#small").val(json.images.small)
                  function pathtoString(obj){
                    var _arr=[]
                    for(var i in obj){
                      _arr.push(obj[i].name)
                    }
                    return _arr.join(",")
                  }
              }
          })
        })

      
    </script>
</body>
</html>