<footer>
    <ul class="footer flex-container position_re">
        <li class="flex-normal font-normal">
        <a href="javascript:;">
        	<img src="../images/comment.png" alt="">
        	<span>123</span>
        </a>
        </li>
        <li class="flex-normal font-normal">
        <a href="javascript:;">
        	<img src="../images/user_collection.png" alt="">
        	<span>123</span>
        </a>
        </li>
        <li class="flex-normal font-normal">
        <a href="javascript:;">
        	<img src="../images/write_like.png" alt="">
        	<span>123</span>
        </a>
        </li>
        <li class="flex-normal font-normal">
        <a href="javascript:;">
        	<img src="../images/comment_share.png" alt="">
        </a>
        </li>
    </ul>
</footer> 