<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=”format-detection” content=”telephone=no” />
    <link type="text/css" href="/css/style.min.css" rel="stylesheet">
	<title>电影指南home页</title>
</head>

<body>
<div class="container flex-container flex-column">
	<div class="flex-normal hasScroll" id="list_box">
		<div class="swiper_box">
			<div class="swiper-container">
			    <div class="swiper-wrapper" id="slide_ul">
			    </div>
			    <div class="swiper-pagination pagination"></div>
			</div>
		</div>

		<div id="loadingComent">
			<div class="home_comment_block flex-container"><img class="home_comment_img flex-normal" src="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2399994997.jpg" alt=""><div class="home_comment flex-normal"><div class="home_comment_author font-normal"><em>15天前</em><a href="other_means.html"><span style="background-image:url(../../images/carouse/head.png);">lovesong</span></a></div><div class="home_comment_title">这是内容</div><div class="flex-container home_comment_meta font-normal"><div class="flex-normal">阅读<span>71</span></div><div class="flex-normal">评论<span>1</span></div><div class="flex-normal">喜欢<span>1</span></div></div></div></div>
			<div class="home_comment_block flex-container"><img class="home_comment_img flex-normal" src="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2399994997.jpg" alt=""><div class="home_comment flex-normal"><div class="home_comment_author font-normal"><em>15天前</em><a href="other_means.html"><span style="background-image:url(../../images/carouse/head.png);">lovesong</span></a></div><div class="home_comment_title">这是内容</div><div class="flex-container home_comment_meta font-normal"><div class="flex-normal">阅读<span>71</span></div><div class="flex-normal">评论<span>1</span></div><div class="flex-normal">喜欢<span>1</span></div></div></div></div>
			<div class="home_comment_block flex-container"><img class="home_comment_img flex-normal" src="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2399994997.jpg" alt=""><div class="home_comment flex-normal"><div class="home_comment_author font-normal"><em>15天前</em><a href="other_means.html"><span style="background-image:url(../../images/carouse/head.png);">lovesong</span></a></div><div class="home_comment_title">这是内容</div><div class="flex-container home_comment_meta font-normal"><div class="flex-normal">阅读<span>71</span></div><div class="flex-normal">评论<span>1</span></div><div class="flex-normal">喜欢<span>1</span></div></div></div></div>
		</div>
	</div>
	<div id="footer">
		@@include('footer.inc')
	</div>
</div>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/home.js" type="text/javascript"></script>
</body>
</html>
