<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>电影详情页</title>
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" href="/css/style.min.css" rel="stylesheet">
</head>
<body>
<div class="container flex-container flex-column">
	<div class="m_details_top">
        <!-- <div class="m_details_topimg"><img src="/titlePic/111.jpg" alt=""></div>
		<div class="m_d_top_position">
			<div class="m_mask font-normal"><span class="font-title">7.8</span>评分</div>
			<p class="font-bold">
				<span>蝙蝠侠大战超人</span>
				<span>正义黎明</span>
				<span>Batman v Superman:Dwan of Judty</span>
			</p>
		</div>
 -->	</div>
	<div class="swiper-container flex-normal list-wapper" id="mycollet">
        <div class="swiper-wrapper">
            <div class='swiper-slide m_detail_href'>
                <div class='info_mini'>
                    <div class='info_slide'>
                        <div class="mycollet_author font-normal">
                        	<div class="m_detail_left">
                        		<img src="/images/portrait2.png" alt=""><span>16.07.06</span>
                        	</div>
                        	<div class="m_detail_comment">157</div>
                        </div>
                        <div class="mycollet_title m_detail_title">十二年过漫路，如今却走成了这个模样</div>
                        <div class="mycollet_content font-normal">昨天去看了《大鱼海棠》，不吹不黑，只能说还算是一个还行的作品，吧啦吧啦吧啦爸爸</div>
                    </div>
                    <div class='del_info_btn' data-id='"+item._id+"'></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="preloader prebottom">
        Loading...
    </div> -->
    <div class="m_detail_write"><img src="/images/write.png" alt=""></div>
    <div id="footer">
        @@include('footer.inc')
    </div>
</div>
<script src="/js/common.js"></script>
<script src="/js/moviedetails.js" type="text/javascript"></script>
</body>
</html>