<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>电影详情页</title>
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" href="/css/style.min.css" rel="stylesheet">
</head>
<body class="body_mdetail_bg"> 
<div class="container flex-container flex-column">
    <div class="moviedetail_content"></div>
    <!-- <div class="m_details_top">
        <div class="m_details_topimg"><img src="/titlePic/111.jpg" alt=""></div>
        <div class="m_d_top_position">
            <div class="m_mask font-normal"><span class="font-title">7.8</span>评分</div>
            <p class="font-bold">
                <span>蝙蝠侠大战超人</span>
                <span>正义黎明</span>
                <span>Batman v Superman:Dwan of Judty</span>
            </p>
        </div>
    </div>
    <div class="m_detail_man font-normal">
        <span>导演：balabala</span>
        <span>主演：大象</span>
        <span>又名：蜘蛛侠</span>
        <span>类型：动作／科幻</span>
        <span>国家：美国</span>
        <span>语言：英语＋汉语</span>
        <span>上映日期：2016-8-10</span>
        <span>片长：140分钟</span>
    </div>
    <div class="m_detail_introduce font-normal">
        <span>故事简介</span>
        <p>《荒野猎人》是2015年亚利桑德罗·冈萨雷斯·伊纳里多执导的剧情电影，由莱昂纳多·迪卡普里奥、汤姆·哈迪、威尔·保尔特 、多姆纳尔·格利森、保罗·安德森等主演。《荒野猎人》根据迈克尔·彭克同名长篇小说改编，故事讲述19世纪一名皮...</p>
    </div> -->
</div>
<script src="/js/common.js"></script>
<script src="/js/moviedetails_top.js" type="text/javascript"></script>
</body>
</html>