<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>电影指南home页</title>
	<link type="text/css" href="/css/style.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=”format-detection” content=”telephone=no” />
</head>

<body>
<div class="container flex-container flex-column">
	<div class="border_bnt other_36 other_fixed">
		<div class="mar_28">
			<ul class="other_ul height_60">
				<div class="goback"><a href="javascript:;"><img src="../images/back.png" alt=""></a></div>
				<li class="other_ri"><a href="other_means_more.html"><img src="../images/comment_more.png" alt=""></a></li>
			</ul>
			<ul class="other_ul2 font-normal">
				<li class="other_le2" id="other_src"><img src="../images/first.png" alt=""></li>
				<li class="other_cen2"><span>222</span>关注</li>
				<li class="other_ri2"><span>7747</span>粉丝</li>
			</ul>
			<ul class="other_ul3 font-normal">
				<li class="other_le3">
					<em id="other_name">Lidjiflkgl</em>
					<img src="../images/message.png" alt="">
				</li>
				<li class="other_ri3" id="guanzhu">+关注</li>
			</ul>
			<p class="other_p font-normal" id="other_cont">Whatever is worth doing is worth!</p>
		</div>
	</div>
	<div class="flex-normal">
	<div class="other_mar_386" id="other_conts">
		<div class="other_img other_pad_30 mar_28 font-normal">(34)</div>
		<!-- <div class="mar_28 other_pinglun">
			<h4>「<span>引爆香港警匪片</span>」</h4>
			<p>你好，你的空间否认发路附近路口东警方敬佛仍然菲尼克斯妇杰拉德发给你款到即发南非酒店客房既然你说既然开动脑筋</p>
		</div>
		<div class="mar_28 other_pinglun">
			<h4>「<span>引爆香港警匪片</span>」</h4>
			<p>你好，你的空间否认发路附近路口东警方敬佛仍然菲尼克斯妇杰拉德发给你款到即发南非酒店客房既然你说既然开动脑筋</p>
		</div>
		<div class="mar_28 other_pinglun">
			<h4>「<span>引爆香港警匪片</span>」</h4>
			<p>你好，你的空间否认发路附近路口东警方敬佛仍然菲尼克斯妇杰拉德发给你款到即发南非酒店客房既然你说既然开动脑筋</p>
		</div> 
		<div class="mar_28 other_pinglun">
			<h4>「<span>引爆香港警匪片</span>」</h4>
			<p>你好，你的空间否认发路附近路口东警方敬佛仍然菲尼克斯妇杰拉德发给你款到即发南非酒店客房既然你说既然开动脑筋</p>
		</div>-->
	</div>
	</div>
	<div id="footer">
		@@include('footer.inc')
	</div>
</div>

	<script src="/js/common.js"></script>
	<script src="../js/other_means.js" type="text/javascript"></script>
</body>
</html>
