<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Dinge-注册</title>
    <link type="text/css" href="/css/style.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=”format-detection” content=”telephone=no” />
</head>
<body>
    <div class="container login_container">
        <!-- 头部背景图+logo -->
        <div class="login_logo" >
            <img class="logo" src="../images/logo_background@2x.png"> 
        </div>
        <!-- 用户登录框 -->
        <div class="user_login">
            <!-- 账号密码输入 -->
            <div class="login_formitem">
            	<input class="placeholder" type="text" value="" placeholder="昵称" id="userName"></input>
            </div>
            <div class="login_formitem">
                <input class="placeholder" type="text" value="" placeholder="邮箱" id="email"></input>
            </div>
            <div class="login_formitem noborder">
            	<input class="placeholder" type="password" value="" placeholder="密码" id="password"></input>
            </div>
            <!-- 登录按钮 -->
            <div class="register">
                <button class="login_btn" data-type="register" id="submit">注&nbsp;&nbsp;&nbsp;册</button>
            </div>
    	</div>
    </div>
    <script src="/js/common.js"></script>
    <script src="../js/register.js"></script>  
</body>
</html>