<div class="tagClass search_tag2">
	<div class="search_h"></div>
	<div id="searchMovie_review">
		<!--<div class="review_div">
			<div class="review_title">真正的荒野其实是你的生活</div>
			<span>——《涉足荒野》</span>
			<p>很长一段时间，我不能相信克里斯真正死了，我多么希望他的死只不过是一个假象，只不过是他已经回到了家人身边，清晨从睡梦中醒来的一个噩梦。</p>
		</div>
		<div class="review_div">
			<div class="review_title">真正的荒野其实是你的生活</div>
			<span>——《涉足荒野》</span>
			<p>很长一段时间，我不能相信克里斯真正死了，我多么希望他的死只不过是一个假象，只不过是他已经回到了家人身边，清晨从睡梦中醒来的一个噩梦。</p>
		</div>
		<div class="review_div">
			<div class="review_title">真正的荒野其实是你的生活</div>
			<span>——《涉足荒野》</span>
			<p>很长一段时间，我不能相信克里斯真正死了，我多么希望他的死只不过是一个假象，只不过是他已经回到了家人身边，清晨从睡梦中醒来的一个噩梦。</p>
		</div> -->
	</div>
</div>
<script src="../js/searchMovie_review.js" type="text/javascript"></script>