<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>电影指南-查找页</title>
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=”format-detection” content=”telephone=no” />
	<link type="text/css" href="/css/style.min.css" rel="stylesheet">
</head>
<body class="body_bg" id="search_wrap"> 
	<ul class="search">
		<li><form action=""><input class="search_mov font-title" type="search" name="user_name" placeholder="超级快递"><i class="font-title iconfont icon-findH"></i></form></li>
		<li class="search_cancel font-title" id="search_cancel">取消</li>
	</ul>
	<div class="wrap">
		<ul class="tag" id="tag">
			<li class="font-h current" id="tag_movie">电影</li>
			<li class="font-h" id="tag_comment">影评</li>
			<li class="tag_nomar font-h" id="tag_user">用户</li>
		</ul>
		<div class="tagContent" id="tagContent">
			<div class="active tagClass search_tag1" id="searchMovie_movie">
			</div>
			<div class="tagClass search_tag2" id="searchMovie_review">
			</div>
			<div class="tagClass search_tag3" id="searchMovie_user"> 
			</div>
		</div>
	</div>
	<script src="/js/common.js"></script>
	<script src="../js/searchMovie.js" type="text/javascript"></script>
</body>
</html>