<div class="tagClass search_tag3"> 
	<div class="search_h"></div>
	<div id="searchMovie_user">
		<ul class="movie_user">
			<li class="user_img"><a href=""><img src="../images/portrait_Normal_M.png" alt=""></a></li>
			<li class="user_txt font-h">荒野</li>		
		</ul>
		<!-- <div class="movie_user">荒野</div>
		<div class="movie_user">荒野</div>
		<div class="movie_user">荒野</div>
		<div class="movie_user">荒野</div>
		<div class="movie_user">荒野</div>
		<div class="movie_user">荒野</div>
		<div class="movie_user">荒野</div> -->
	</div>
</div>
<script src="../js/searchMovie_user.js" type="text/javascript"></script>