<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>电影指南-我的</title>
    <link type="text/css" href="/css/style.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=”format-detection” content=”telephone=no” />
</head>
<body>
    <div class="container flex-container flex-column">
    	<div class="mes_title font-title">我的</div>
    	<div class="flex-normal hasScroll">
            <div id="userinfo" class="user_box">
                <div class="flex-container user_carouse">
                    <img src="" alt="Kitten">
                    <div class="user_notice font-bold flex-normal">
                        <h3 class="user_nickname">Love song</h3>
                        <p class="notice font-normal">一直想写一首lovesong...</p>
                    </div>
                </div>
            </div>
            <div class="user_line">
                <div class="infolist_normal user_write"><a href="mycomment.html"><span class="font-bold">我的影评</span></a></div>
                <div class="infolist_normal user_like"><a href="myfocus.html"><span class="font-bold">我关注的</span></a></div>
                <div class="infolist_normal user_sc"><a href="mycollet.html"><span class="font-bold">我收藏的</span></a></div>
                <div class="infolist_normal user_history"><a href="history.html"><span class="font-bold">浏览历史</span></a></div>
                <!-- <div class="user_l user_draft"><a href="javascript:;"><span>草稿箱</span></a></div> -->
                <div class="infolist_normal user_night"><a href="javascript:;"><span class="font-bold">夜间模式</span></a></div>
            </div>
        </div>
    	<div id="footer">
            @@include('footer.inc')   
        </div>
    </div>
	<script src="/js/common.js"></script>
    <script src="/js/user.js" type="text/javascript"></script>	
</body>
</html>